@use 'variables' as v;

@mixin mobile {
    @media (min-width: v.$mobile) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}

@mixin desktop-sm {
    @media (min-width: v.$desktop-sm) {
        @content;
    }
}

@mixin desktop-lg {
    @media (min-width: v.$desktop-lg) {
        @content;
    }
}

/* 
=================================*/

@mixin grid ($column, $gap:null ) {
    display: grid;
    grid-template-columns: repeat($column, 1fr);
    gap: $gap;
}