/* Varbles 
=================================*/
$color-black: #000000;
$color-white: #F8F9F9 ;
$color-gray-100: #E5E7E9;
$color-gray-300: #BDC3C7;
$color-gray-600: #909497; 
$color-gray-900: #3b3c3d;

$font-noto-sans: "Noto Sans", sans-serif;

/* Medidad media query
=================================*/
$mobile: 576px; // Phone
$tablet: 768px; // Tablet
$desktop-sm: 992px; // Ecritorio pequeño
$desktop-lg: 1200px; // Ecritorio pequeño
