/* Reset CSS */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/* Variables */
:root {
   --bg-color: #EAECEE;
   --second-bg-color: #17202A;
   --text-color: #F8F9F9;
   --hover-color: #58D68D;
}

html {
   font-size: 62.5%;
   /* 1rem es igual a 10px */
}

body {
   width: 100rem; /* 100rem es igual a 1000px */
   margin: auto;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 1.6rem;
}

/* Estilos del header */
header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1rem 2rem;
   background-color: var(--second-bg-color);
   color: var(--text-color);
   border-radius: 1rem 1rem 0 0;
}

header nav {
   display: flex;
   gap: 1rem;
}

header nav a {
   color: var(--hover-color);
   border-bottom: .2rem solid transparent;
   font-size: 1.7rem;
   text-decoration: none;
}

header nav a:hover {
   border-bottom: .2rem solid var(--hover-color);
}

/* Contenido principal */
main {
   background-color: var(--bg-color);
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   flex-grow: 1;
}

section h2, .cards section p {
   padding: .5rem 0;
}

main section .images {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

main section .images img {
   width: 20rem;
}

main section .cards {
   display: flex;
   flex-wrap: wrap;
}

.cards section {
   border: .2rem solid var(--second-bg-color);
   border-radius: 1rem;
   flex: 1;
   text-align: start;
   padding: 1rem;
   margin: 1rem;
}

.cards section ul {
   margin-left: 3rem;
}

.btn {
   display: inline-block;
   background-color: var(--second-bg-color);
   color: var(--hover-color);
   padding: 1rem 2rem;
   margin: 2rem;
   border-radius: 5px;
   text-decoration: none;
   font-size: 2rem;
   transition: transform .3s;
}

.btn:hover {
   outline: 2px solid var(--second-bg-color);
   background: var(--hover-color);
   color: var(--second-bg-color);
   transform: scale(1.1);
}

/* Estilos del footer */
footer {
   background-color: var(--second-bg-color);
   color: var(--text-color);
   text-align: center;
   padding: 2rem 0;
   border-radius: 0 0 1rem;
}
