:root {
    --color-principal: #101010;
    --color-secundario: #141414;
    --color-fondo-secundario: #1f1f1f;
    --color-gris: #999999;
    --color-morado: rgba(162, 144, 252, 1);
    --color-blanco: #ffffff;
    --color-negro:rgb(0, 0, 0);
    --colo-border:rgb(31, 31, 31);
    --color-border-fondo: #7774746e; 
    --tipografia: "Manrope", sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: var(--tipografia);
    background-color: var(--color-negro);
    color: #ffffff;
}



/* Layot de contedor principal
=================================*/
main{
    padding: 1rem;
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: 
    "proyectos clientes experiencia testimonios testimonios trabajo"
    "informacion informacion informacion testimonios testimonios trabajo"
    "informacion informacion informacion redes correo correo"
    "mis-clientes mis-clientes mis-clientes redes correo correo";
    
    gap: 2rem;
}

.proyectos,
.clientes,
.experiencia,
.informacion,
.mis-clientes,
.testimonios,
.trabajo,
.redes,
.correo{
    background-color: var(--color-principal);
    color: var(--color-gris);
    border-radius: 1.5rem;
}

.proyectos{
    grid-area: proyectos;
}

.clientes{
    grid-area: clientes;
}

.experiencia{
    grid-area: experiencia;
}

.informacion{
    grid-area: informacion;
}

.mis-clientes{
    grid-area: mis-clientes;
}

.testimonios{
    grid-area: testimonios;
}

.trabajo{
    grid-area: trabajo;
}

.redes{
    grid-area: redes;
}

.correo{
    grid-area: correo;
}


/* Utilidades
=================================*/
img {
    display: block;
}

h1,
h2,
h3 {
    color: var(--color-blanco);
    font-size: 1.7rem;
    margin: 0.5rem 0;
}

.numero{
    justify-self: center;
    font-size: 4rem;
    font-weight: 600;
}

i{
    font-size: 3rem;
    color: var(--color-morado);
}

.icon-gris{
    color: var(--color-gris);
}

.icon-gris-bg{
    background-color: var(--color-border-fondo);
    border-radius: .3rem;
    padding: .2rem;
}

.icon-gris-bg i{
    color: var(--color-gris);
}

p{
    margin: 0;
}

.text-bold,
.text-normal{
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--color-gris);
    font-family: var(--tipografia);
    margin: 0;
}

.text-normal{
    font-size: 1.6rem;
    font-weight: 400;
}

span{
    font-size: 3rem;
    color: var(--color-morado);
}

.nombre{
    display: grid;
    grid-template-columns: repeat(2, max-content);
    column-gap: 1rem;
    place-content: center;
    border-radius: 1rem;
    background-color: var(--color-secundario);
    padding: 1rem 1.5rem;
    align-items: center;
}

.header{
    display: grid;
    justify-content: center;
    text-align: center;
    padding: 1rem 0;
}

.header p{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    gap: .5rem;
}

.header p i{
    font-size: 2rem;
}

.header h3{
    font-size: 2rem;
}


/* Estilos de proyectos, clientes, experiencia
==================================================*/
.proyectos,
.clientes,
.experiencia{
    display: grid;
    align-content: center;
    padding: 0 2.5rem 1rem 2.5rem;
}

.proyectos .nombre,
.clientes .nombre,
.experiencia .nombre{
    border: .1rem solid var(--color-border-fondo);
}

/* 
=================================*/
.informacion{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 1rem;
}

.informacion .perfil{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.informacion .img-perfil{
    /* justify-self: center;
    align-self: center; */
    place-self: center;
}

.informacion .img-perfil img{
    border-radius: 1rem;
}

.informacion .disponibilidad{
    display: grid;
    place-content: center start;
}

.informacion .disponibilidad .text-bold{
    border: .1rem solid var(--color-gris);
    background-color: var(--color-fondo-secundario);
    border-radius: 1rem;
    padding: .5rem 1rem;
}

.informacion .disponibilidad .text-normal span{
    font-size: 2rem;
}

.informacion .disponibilidad .circulo{
    font-size: 0;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-color: green;
    border-radius: 50%;
    margin-right: 1rem;
}

.informacion .resumen{
    place-self: start end;
    background-color: var(--color-fondo-secundario);

}

.informacion .perfil-pro{
    grid-column: 2 span;
    background-color: var(--color-fondo-secundario);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: repeat(auto-fill, minmax(max-content, 20rem)); */
    place-content: start;
    padding: 1rem;
    gap: 1rem;
    margin: 2rem 0;
    border-radius: 1rem;
}

.informacion .perfil-pro i{
    font-size:1.5rem;
}

.informacion .contacto{
    grid-column: 2 span;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-content: center;
    gap: 2rem;
}

.informacion .contacto .nombre{
    background-color: var(--color-fondo-secundario);
}

.informacion .contacto i{
    font-size: 4rem;
}

/* Estilos de mis Clientes
=================================*/
.mis-clientes{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 1rem;
    gap: 1rem;
}

.mis-clientes .header{
    grid-column: 4 span;
}

.mis-clientes .nombre{
    background-color: var(--color-fondo-secundario);
}

/* Estilos de testimonios
=================================*/
.testimonios{
    display: grid;
    row-gap: 1rem;
    padding: 1rem;
}

.testimoniales{
    display: grid;
    grid-template-columns: 1fr 3fr 4fr;
    align-items: center;
    width: 90%;
    background-color: var(--color-fondo-secundario);
    padding: 1rem;
    border-radius: 1rem;
    row-gap: 1rem;
}

.testimonios .testimoniales:nth-child(3){
    justify-self: flex-end;
}

.testimoniales img{
    display: inline-flex;
    border-radius: 1rem;
    place-self: center;
}

.testimoniales p{
    grid-column: 3 span;
    border-top: .1rem solid var(--color-border-fondo);
    padding-top: 1rem;
}

.testimoniales h3{
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--color-blanco);
}

.testimoniales cite{
    font-style: normal;
    font-size: 1.4rem;
}

.testimoniales time{
    justify-self: flex-end;
    font-size: 1.6rem;
}


/* Estislo de trabajo
=================================*/
.trabajo{
    padding: 2rem;
    display: grid;
    row-gap: 2rem;
    align-content: flex-start;
}

.trabajo .nombre{
    background-color: var(--color-fondo-secundario);
    justify-content: start;
}

/* Estilos de redes
=================================*/
.redes{
    padding: 2rem;
    display: grid;
    row-gap: 2rem;
    align-content: flex-start;
}

.redes .nombre{
    background-color: var(--color-fondo-secundario);
    justify-content: start;
}

/* Correo
=================================*/

.correo{
    padding: 1rem;
    display: grid;
    align-content: center;
    row-gap: 1rem;
}

.correo-content{
    display: grid;
    gap: 2rem;
}

.correo-content .nombre{
    background-color: var(--color-fondo-secundario);
}
