@use '../base/variables' as v;
@use '../base/mixins' as m;

.carousel {
    &__content {
        position: relative;
    }

    &__items {
        position: relative;
        display: flex;
        gap: 1rem;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
        scroll-behavior: smooth;
        padding-bottom: 3rem;
        height: 100%;
    }

    &__item {
        position: relative;
        flex: 0 0 100%;
        display: grid;
        place-content: center;
        width: 100%;
        padding-top: 2rem;
    }

    &__img {
        border-radius: 2rem;
    }

    &__text {
        position: absolute;
        top: 0;
        width: 100%;
        display: grid;
        margin-top: 20rem;
        place-content: start center;
        place-items: center;
        z-index: 10;

        @include m.tablet {
            margin-top: 0;
            place-content:center;
            height: 100%;
        }
    }

    &__title {
        color: v.$color-gray-100;
        font-weight: 900;
        text-transform: uppercase;
        margin-bottom: 1.6rem;
        margin-top: 0;
        text-align: center;

        @include m.tablet {
            font-size: 3.2rem;
        }
    }

    &__description {
        display: block;
        text-align: center;
        color: v.$color-gray-100;
        margin-top: 0;
        margin-bottom: 2.4rem;
        font-weight: 500;
        width: 90%;

        @include m.tablet {
            font-size: 1.6rem;
            width: 45rem;
        }
    }

    &__link-button {
        border: .2rem solid transparent;
        max-width: 28rem;
    }

    &__text--right {
        place-content: start center;
        place-items: start;
        padding: 1rem;
        margin-top: 9rem;

        .carousel__title,
        .carousel__description,
        .carousel__link-button {
            text-align: start;
        }

        @include m.tablet {
            grid-template-columns: 1fr 1fr;
            place-content: center start;
            margin-top: 0;

            .carousel__title,
            .carousel__description,
            .carousel__link-button {
                grid-column: 2/3;
            }
        }
    }

    &__btns {
        display: flex;
        justify-content: center;
        gap: 1.5rem;
    }

    &__btn-circle {
        display: flex;
        align-items: center;
        border: .1rem solid black;
        border-radius: 50%;
        color: v.$color-gray-100;

        &:hover {
            color: v.$color-black;
        }
    }
}