:root {
    --google-blue: #4285f4;
    --google-green: #34a853;
    --google-yellow: #fbbc04;
    --google-red: #ea4335;
    --google-background: #ffffff;
    /* Fondo blanco */
    --google-text: #202124;
    /* Color de texto típico de Google */
    --google-link: #1a73e8;
    /* Color de enlace */
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
    overflow: auto;
}

header{
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 6px;
}

nav{
    margin-right: 30px;
}

header nav ul{
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 20px;
}

header .nav-link{
    text-decoration: none;
    color: #1f1f1f;
    font-size: 13px;
}

header .nav-link:hover{
    text-decoration: underline;
}

header .nav-apps{
    display: inline-flex;
    padding: 5px;
    border-radius: 50%;
}

header .nav-apps:hover{
    background-color: #ededed;
}

header .nav-login{
    text-decoration: none;
    background-color: #1a73e8;
    color: #ffffff;
    display: inline-flex;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 100px;
}
header .nav-login:hover{
    box-shadow: 0 0 3px #1a73e8;
}

main .logo,
main .buscador-bar,
main .botones{
    display: flex;
    justify-content: center;
}

main .buscador-bar label{
    display: flex;
    gap: 10px;
    border: 1px solid #9e9e9e;
    padding: 10px 15px;
    border-radius: 100px;
    width: 584px;
}

main .buscador-bar label img{
    display: flex;
}

main .buscador-bar label:hover{
    box-shadow: 0 0 3px #9e9e9e;
}

label input{
    font-size: 16px;
    flex-grow: 1;
    border: none;
}

label input:focus{
    outline: none;
}

/* Botones  */
.botones{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.botones button{
    all: unset;
    padding: 10px 20px;
    font-size: 14px;
    background-color: #f1f1f1;
    cursor: pointer;
    border-radius: 5px;
}

.botones button:hover{
    outline: 1px solid #b4b4b4;
}

.botones p{
    flex-basis: 100%;
    text-align: center;
    font-size: 14px;
}

/* Estilos de Footer
=================================*/

footer{
    background-color: #f2f2f2;
    padding: 15px 0;
}

footer .pais{
    padding-left: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #b4b4b4;
}

.footer-links{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.footer-links ul{
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

.footer-links ul a{
    text-decoration: none;
    color: #202124;
    font-size: 14px;
}

.footer-links ul a:hover{
    text-decoration: underline;
}


