* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #f2f2f2;
    font-size: 14px;
}

/* .header {
    width: 100%;
    height: 100vh;

    background-image: url(../img/Prototype-600.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media (min-width: 768px) {
    .header {
        background-image: url(../img/Prototype.png);
    }
}  */

.header{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.header picture, 
.header img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.navbar {
    height: 60px;
    background-color: rgba(0, 32, 86, 0.6);

    display: flex;
    align-items: center;
    gap: 1rem;
    padding-left: 30px;
}

.navbar a{
    text-decoration: none;
    color: #f2f2f2;
    font-weight: bold;
}

.navbar a:hover{
    color: #0886D6;
}


.hero {
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
    padding: 10px;
    margin-top: 10px;
}

@media (min-width: 900px) {
    .hero {
        margin-top: 100px;
    }
}

.hero-content {
    width: 100%;
    height: 100%;
    text-align: center;
}

@media (min-width: 900px) {
    .hero-content{
        width: 600px;
        text-align: start;
    }
}

.hero-content h1 {
    font-size: 30px;
}

.hero-content span {
    color: #0886D6;
}

.hero-content p {
    font-size: 14px;
    margin: 30px 0;
}

@media (min-width: 576px) {
    .hero-content h1 {
        font-size: 60px;
    }

    .hero-content p {
        font-size: 20px;
    }
}


.hero-content hr {
    width: 100px;
    color: #f2f2f2;
    margin-bottom: 30px;
    margin-inline: auto;
}

@media (min-width: 900px) {
    .hero-content hr {
        margin-inline: 0;
    }
}

.buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
}

@media (min-width: 900px) {
    .buttons{
        justify-content: flex-start;
    }
}

.btn-primary,
.btn-secondary {
    display: inline-block;
    padding: 10px 30px;
    color: #f2f2f2;
    text-decoration: none;
    background: linear-gradient(to right, #0886D6, #001F56);
    font-weight: bold;
    border: 2px solid linear-gradient(to right, #0886D6, #001F56);
    font-size: 14px;
}

.btn-secondary {
    background: transparent;
    border: 2px solid #f2f2f2;
}

@media (min-width: 576px) {

    .btn-primary,
    .btn-secondary {
        font-size: 16px;
    }
}