@media (max-width: 900px){
   .footer-content{
      grid-template-columns: 1fr 1fr;
   }

   .footer-logo{
      grid-column: 1 / 3;
   }

   .header{
      height: 100%;
      padding-bottom: 5rem;
   }
}

@media (max-width: 450px){
   .navbar{
      padding: 2rem;
   }

   .navbar a{
      font-size: 1.3rem;
   }

   .header-logo h1{
      font-size: 2rem;
   }

   .header-logo h2{
      font-size: 1.6rem;
   }

   .welcome-content{
      width: 100%;
      max-width: none;
      padding: 4rem 0;
   }

   .best-sellers-content{
      grid-template-columns: 1fr;
   }

   .new-product-content{
      grid-template-columns: 1fr;
   }

   .menu-content2 {
      grid-template-columns: 1fr;
   }

   .gallery{
      grid-template-columns: 1fr;
   }

   .gallery img:hover{
      transform: none;
   }

   .location-content {
      grid-template-columns: 1fr;
    }

   .footer-content{
      grid-template-columns: 1fr;
      text-align: center;
      justify-content: center;
   }

   .footer-logo{
      grid-column: 1;
   }

   .footer-logo h2{
      font-size: 2.5rem;
   }

   .footer-logo .social-media{
      flex-wrap: wrap;
   }

   .footer-about ul, .footer-other ul{
      padding: 0;
   }
}